@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    padding:0;
    margin:0;
    border:0
}

body {
    font-family: 'Quicksand', sans-serif;;
    background-color: #0075E2;
    color: #FFFFFF;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    width: 100%;
    height: auto;
}

/********
HEADER
********/

#header {
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-top: 0.6em;
}

.logo {
    width: 60vw;
    padding-left: 4em;
}

#header-img {
    max-width: 12em;
}

#nav-bar {
    width: 40vw;
}

#nav-bar ul {
    display: flex;
    flex-direction: row;
}

#nav-bar li {
    list-style: none;
}

#nav-bar .li-pd {
    padding-right: 4em;
}

#nav-bar li a {
    text-decoration: none;
    color: #FFFFFF;
}

#nav-bar li a:hover {
    border-bottom: 1px solid #FFFFFF;
}

/********
STARTED
********/

#started {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 17em;
    margin-top: 50px;
}

#started #form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.1em;
}

#started #form #email {
    width: 15em;
    margin-bottom: 1.1em;
    padding: 0.8em;
}

#started #form #email:focus {
    outline: none !important;
    border: 2px solid#003363;
}

#started #form #submit {
    background-color: #003363;
    color: white;
    text-transform: uppercase;
    width: 9.5em;
    padding: 7px 7px;
}

#started #form #submit:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #003363;
    border: 2px solid#003363;
}

/*********
FEATURES
*********/

#features {
    margin: 0 auto;
    width: 560px;
    max-width: 100%;
}

.features-example {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2.2em;
}

.features-example .example-icon {
    margin-right: 2em;
}

.features-example .example-text h2 {
    font-size: 1.5em;
}

.features-example .example-text p {
    font-size: 1em;
}

.fas {
    font-size: 3em;
    color: #003363;
}

.feature-video {
    margin-top: 3em;
}

.feature-video #video {
    display: block;
    margin-left: auto;
    max-width: 560px;
    height: 315px;
}


/**********
MEDIA QUERY
**********/

@media (max-width: 925px) {
    #nav-bar li {
        padding-right: 1em;
    }
}

@media (max-width: 804px) {
    #nav-bar .li-pd {
        padding-right: 0.8em;
    }
}

@media (max-width: 600px) {
    #header {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    #header #nav-bar {
        padding-top: 1.5em;
    }
}

@media (max-width: 527px) {
    #header #nav-bar ul {
        flex-direction: column;
        align-items: center;
    }
    #nav-bar ul li {
        padding-top: 1.4em;
    }
    #features {
        width: 350px;
    } 
}

@media (max-width: 360px) {
    .example-icon {
        display: none !important;
    }
    .example-text h2, .example-text p {
        text-align: center;
    }
}